@{
    this.ViewData["Title"] = "Contact Us";
}

<h1>@this.ViewData["Title"]</h1>
<article>
    <div class="col-md-12" align="left" style="font-size:20px; font-weight:bold">
        <p>
            <i class="fas fa-envelope" style="font-size:15px"></i>You can reach us by our email: <a href="mailto:rokudo3@gmail.com">rokudo3@gmail.com</a>
        </p>
        <p>
            <i class="fas fa-phone-square-alt" alt="phone" style="font-size:15px"></i>You can also contact us by calling our support team on this number: <i id="phoneNumber">+359 89 485 6289</i>
        </p>

        <br />

        <address class="address-col" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span><i class="fas fa-map-marker-alt" style="font-size:15px"></i>Добрич, България</span>
            <br>
            <span>
                бул. 25-ти Септември, кв. Петър Сарийски, ж.к. Север 1, Добрич, България
            </span>
            <br>
            <span>Cinema Hour Co.</span>
            <br>
            ПК: <span> 9900 </span>
        </address>
    </div>
</article>

<br />

<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.76430563823!2d27.827953163841514!3d43.56979409370327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a5168321072c83%3A0xa281d21cfdf3a1eb!2z0YPQuy4g4oCe0J3QtdC30LDQstC40YHQuNC80L7RgdGC4oCcLCA5MzAwINCU0L7QsdGA0LjRhyDQptC10L3RgtGK0YAsINCU0L7QsdGA0LjRhw!5e0!3m2!1sbg!2sbg!4v1583886421187!5m2!1sbg!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
