@using CinemaHour.Common
@using CinemaHour.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <h3>You are looged in as <strong>@(this.User.Identity.Name)</strong></h3>
    }
    else
    {
        <h3>You have to <a href="\Identity\Account\Login">Login</a></h3>
    }
</div>
