@using CinemaHour.Common
@using CinemaHour.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div>
        <p>Browse all the actors and information about them <a href="/Actors/All"><strong>here</strong></a>.</p>
    </div>
</div>
